<script src="/js/main.js" type="module"></script>
<link href="/assets/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
<link href="/assets/fontawesome/css/solid.min.css" rel="stylesheet" />
<link href="/assets/fontawesome/css/all.min.css" rel="stylesheet" />
<!-- link href="/assets/fontawesome/css/brands.css" rel="stylesheet" / -->
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="XEFKZVQW" defer></script>
<!-- / Fathom -->

<meta name="description" content="Rockstar is an esoteric programming language based on the ‘lyrical conventions of 1980s hard rock songs and power ballads.’. It was created by Dylan Beattie in 2018." />
<meta property="og:url" content="https://codewithrockstar.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Rockstar" />
<meta property="og:description" content="Tommy used to work on the docs." />
<meta property="og:image" content="/images/rockstar-og-image.jpg" />